// app global css in SCSS form

.text-shade-light {
    color: initial;
}
.bg-shade-light {
    background: #FEF3EC;
}
.text-primary-light {
    color: #fff;
}
.bg-primary-light {
    background: #f39609;
}
.text-dimmed {
    color: #636363;
}

.word-break {
    word-break: break-all;
}

.margin-auto {
    margin: auto;
}

.link-text, .link-text:visited {
    text-decoration: none;
    color: initial;
    cursor: pointer;
    transition: color 300ms;
}
.link-text:hover, .link-text:active {
    text-decoration: none;
    color: $primary;
}

.link-primary, .link-primary:visited {
    text-decoration: none;
    color: $primary;
    cursor: pointer;
}
.link-primary:hover, .link-primary:active {
    text-decoration: underline;
}

.wideCard {
    min-height: 150px;
}
.wideCard .post-card {
    min-height: 140px;
}

.post-content .markdown-body {
    font-size: 1.1rem;
    line-height: 2;
}