// app global css in SCSS form

.text-shade-light {
    color: initial;
}
.bg-shade-light {
    background: #FEF3EC;
}
.text-primary-light {
    color: #fff;
}
.bg-primary-light {
    background: #f39609;
}


.wideCard {
    min-height: 150px;
}
.wideCard .post-card {
    min-height: 140px;
}